/* styles.css */
body {
    font-family: Arial, sans-serif; /* Fuente predeterminada para el resto del texto */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.text-container {
    margin: 50px;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1, p {
    font-family: 'Pacifico', cursive; /* Fuente manuscrita */
    color: #333;
    line-height: 1.6;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}
